<div class = "container">

<!-- <h1> Statistics for:</h1> -->
<h1><%= current_survey.title %></h1>
<h2>Stats</h2>

<% questions = current_survey.questions %>

<% questions.each_with_index do |q, i| %>
<div class='results_graph'>
<table class='data_table'>
  <tr><th><%= q.text %></th><th>Votes</th></tr>
  <% q.choices.each do |choice| %>
    <tr>
      <td><%= choice.text %></td>
      <td><img src="/uploads/bar.png" width='<%= choice_percentage(choice) * 3  %>' height='20'></td><td><%= choice_count(choice) %> vote<%='s' unless choice_count(choice) == 1%> (<%= choice_percentage(choice) %>%)</td>
    </tr>
    <% end %>
</table>
</div>
<br><br>
<% end %>


</div>
